.imagebox{
  max-width:300px;
  margin:auto;
  padding: 5px;
  background-color:#0F1955;
  text-align:center;
  color:white;
  font-size:14px;
  box-shadow: 2px 2px 5px black;
}

.greybg {
  background-color: #575756;
  color: #FFF;
  padding: 50px 0px 5px;
  text-align: center;
  margin-bottom: -155px;
}

.position {
  margin-top:70px
}
